@model HarvestItem
@{
    ViewData["Title"] = "Add Harvest Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">

    <h2>Add Harvest Item</h2>

    <form method="post">
            <label>Item Name:</label>
        <input asp-for="ItemName" required />

            <label>Category:</label>
        <input asp-for="Category" required />

            <label>Harvest Date:</label>
        <input asp-for="HarvestDate" type="date" required />

            <button type="submit">save item</button>

        @if (ViewBag.Error != null)
        {
            <p class="error message">@ViewBag.Error</p>
        }
    </form>
</div>