@model Grower
@{
    ViewData["Title"] = "Add Grower";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">

    <h2>Add New Grower</h2>

    <form method="post">
            <label>Full Name:</label>

        <input asp-for="FullName" required />

            <label>Region:</label>

        <input asp-for="Region" required />

            <button type="submit">save grower</button>
    </form>

</div>